#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/263eed81-4e4f-4fda-a8ae-b0acf568ed4c/ # 
title: code-challenge
version: v1

/employee:
  /create:
    post:
      body:
        application/json:
          example: |
            {
              "employee": {
                "id": "A007",
                "first_name": "Jan",
                "last_name": "Doe"
              }
            }
      responses:
        201:
          body:
            text/plain:
              example:
                Jan Doe employee profile is created in HRMS System
/camelcase:
   post:
    body: 
      text/plain:
       example: 
        Jan Doe employee profile is created in HRMS System
    responses: 
      200:
       body: 
        text/plain:
          example:
            Jan Doe Employee Profile Is Created In Hrms System

/mergematchingid:
  post:
    body: 
      application/json: 
       example: !include examples/studentscoreboard.raml
    responses: 
      200:
       body: 
        application/json:
          example: !include examples/studentscoreboard-response.raml

/merge:
  post:
    body: 
      application/json: 
       example: !include examples/studentscoreboard.raml
    responses: 
      200:
       body: 
        application/json:
          example: !include examples/studentscoreboard-all-records-response.raml

/naturalnumbers:
  /{number}:
    get:
      description: Get lead by Lead ID
      responses: 
        200:
          body: 
            application/json:
              example:
                [
                  1,
                  2,
                  3,
                  4,
                  5,
                  6,
                  7,
                  8,
                  9,
                  10
                ]
          
                
  